<nav class="navbar">
  <div class="logo">
    <img src="gabaylogo.png" alt="GabayGov Logo" />
    <span>GabayGov</span>
  </div>

  <div class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/events" routerLinkActive="active">Events</a>
    <a routerLink="/about" routerLinkActive="active">About Us</a>
  </div>

  <div class="search-container">
    <div class="search-inputs">
      <input type="text" placeholder="Search" [(ngModel)]="title" />
      <input type="text" placeholder="Location" [(ngModel)]="location" />
    </div>
    <i class="fa fa-search" (click)="onSearch()"></i>
  </div>

  <button routerLink="/login" routerLinkActive="active" class="login-button">
    Government LogIn
  </button>
</nav>
