<app-user-navigation-header></app-user-navigation-header>
    <section class="section blue-bg">
        <div class="content">
            <h2>WHO WE ARE</h2>
            <p>
                GABAYGOV IS A WEB-BASED PLATFORM DEDICATED TO ENHANCING PUBLIC AWARENESS 
                AND PARTICIPATION IN GOVERNMENT-SPONSORED EVENTS. WE STRIVE TO BRIDGE THE 
                GAP BETWEEN LOCAL GOVERNMENT AGENCIES AND RESIDENTS BY PROVIDING A 
                CENTRALIZED, USER-FRIENDLY PORTAL WHERE PEOPLE CAN DISCOVER, REGISTER FOR, 
                AND STAY UPDATED ON VARIOUS COMMUNITY PROGRAMS.
            </p>
        </div>
    </section>
    <section class="section blue-bg">
        <div class="content">
            <h2>OUR MISSION</h2>
            <p>
                OUR MISSION IS TO EMPOWER COMMUNITIES BY MAKING IMPORTANT GOVERNMENT 
                SERVICES MORE ACCESSIBLE. WE BELIEVE THAT EVERY RESIDENT SHOULD HAVE AN EASY 
                WAY TO STAY INFORMED ABOUT INITIATIVES SUCH AS FREE MEDICAL CHECKUPS, DENTAL 
                SERVICES, "LIBRENG TULI," "LIBRENG PAGUPIT," AND OTHER BENEFICIAL PROGRAMS.
            </p>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-content">
            <div class="updates">
                <p><strong>Stay Updated</strong></p>
                <p><i class="fa-solid fa-bell"></i> Subscribe to Event Notifications</p>
                <p><i class="fa-solid fa-envelope"></i> Get updates on upcoming government-sponsored events in your area!</p>
                <p><i class="fa-solid fa-hand-point-right"></i> <a href="#">Subscribe Now</a></p>

            </div>
            <div class="socials">
                <p><i class="fa-brands fa-facebook"></i> Facebook: <a href="#">GabayGov</a></p>
                <p><i class="fa-brands fa-instagram"></i> Instagram: <a href="#">GabayGov</a></p>
                <p><i class="fa-brands fa-twitter"></i> Twitter/X: <a href="#">GabayGovPH</a></p>
            </div>
        </div>
        <p class="copyright">© 2025 GabayGov. All rights reserved. | Powered by TEAM LASALLE </p>
    </footer>


