<app-user-navigation-header></app-user-navigation-header>
<section class="section blue-bg">
  <div class="content">
    <h2>WHO WE ARE</h2>
    <p>
      GABAYGOV IS A WEB-BASED PLATFORM DEDICATED TO ENHANCING PUBLIC AWARENESS
      AND PARTICIPATION IN GOVERNMENT-SPONSORED EVENTS. WE STRIVE TO BRIDGE THE
      GAP BETWEEN LOCAL GOVERNMENT AGENCIES AND RESIDENTS BY PROVIDING A
      CENTRALIZED, USER-FRIENDLY PORTAL WHERE PEOPLE CAN DISCOVER, REGISTER FOR,
      AND STAY UPDATED ON VARIOUS COMMUNITY PROGRAMS.
    </p>
  </div>
</section>
<section class="section blue-bg">
  <div class="content">
    <h2>OUR MISSION</h2>
    <p>
      OUR MISSION IS TO EMPOWER COMMUNITIES BY MAKING IMPORTANT GOVERNMENT
      SERVICES MORE ACCESSIBLE. WE BELIEVE THAT EVERY RESIDENT SHOULD HAVE AN
      EASY WAY TO STAY INFORMED ABOUT INITIATIVES SUCH AS FREE MEDICAL CHECKUPS,
      DENTAL SERVICES, "LIBRENG TULI," "LIBRENG PAGUPIT," AND OTHER BENEFICIAL
      PROGRAMS.
    </p>
  </div>
</section>
<app-footer></app-footer>