<footer class="footer">
  <div class="footer-content">
    <div class="updates">
      <h3>Get Notified for Upcoming Events!</h3>
      <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="email-form">
        <input
          type="email"
          formControlName="subscriber_email"
          placeholder="Enter your email address"
          required
        />
        <button type="submit" [disabled]="emailForm.invalid || isSubmitting">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </form>
      <p *ngIf="message" class="message">{{ message }}</p>
    </div>
    <div class="socials">
      <p>
        <i class="fa-brands fa-facebook"></i> Facebook: <a href="https://www.facebook.com/geloaguinaldo26/" target="_blank">GabayGov</a>
      </p>
      <p>
        <i class="fa-brands fa-instagram"></i> Instagram:
        <a href="https://www.instagram.com/gabaygovweb/" target="_blank" >GabayGov</a>
      </p>
      <p>
        <i class="fa-brands fa-twitter"></i> Twitter/X:
        <a href=" https://x.com/gabaygov" target="_blank">GabayGovPH</a>
      </p>
    </div>
  </div>
  <p class="copyright">
    © 2025 GabayGov. All rights reserved. | Powered by TEAM LASALLE 🚀
  </p>
</footer>

