<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreng Gupit Event</title>
    <link rel="stylesheet" href="user-event-details-page.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="content">
        <div class="image-content">
            <img class="background-image" src="BACKGROUND NG LIBRENG GUPIT.jpg" alt="background">
        </div>
        <div class="libreng-gupit-content">
            <img class="libreng-gupit" src="LIBRENG-GUPIT.jpg" alt="event">
        </div>
        <div class="event-content">
            <h1>
                {{event.title}}
            </h1>
            <div class="date_time">
                <i class = "fa fa-calendar"></i> Date And Time
                <div class="date-time">
                    {{event.date}} | {{event.time}}
                </div>
            </div>

            <div class="location">
                <i class = "fa fa-location-arrow"></i> Location
                <div class="loc">
                    {{event.location}} 
                </div>
            </div>
            <div class="about_this_event">
                <i class="fa fa-check-circle"></i> About This event
                <div class="about">
                    {{event.about}}<br>
                </div>
            </div>
        </div>
    </section>
</body>

