<app-organizer-navigation-header></app-organizer-navigation-header>
<app-page-loading-indicators *ngIf="isLoading"></app-page-loading-indicators>
<section [ngClass]="{ 'loading-background': isLoading }">
  
  <ng-container *ngIf="!isLoading && events.length > 0">
    <section *ngFor="let event of events" class="event-details">
      <div class="event-container">
        <img class="event-image" [src]="event.photo" alt="{{ event.title }}" />
        <div class="event-content">
          <h1 class="event-title">{{ event.title }}</h1>
          <p class="event-date">{{ event.date }}</p>
          <p class="event-time">{{ event.time }}</p>
          <p class="event-location">{{ event.location }}</p>
        </div>
      </div>
      <div class="button-container">
        <a [routerLink]="['/edit-event', event.id]" class="btn">
          Edit/Delete Event
        </a>
      </div>
    </section>
    <hr />
  </ng-container>

  <p *ngIf="!isLoading && error" class="error-message">
    {{ error }}
  </p>

  <p *ngIf="!isLoading && events.length === 0" class="no-events-message">
    No events available.
  </p>

</section>
