<app-organizer-navigation-header></app-organizer-navigation-header>
<section *ngFor="let event of events" class="event-details">
  <div class="event-container">
    <img class="event-image" [src]="event.photo" alt="{{ event.title }}" />
    <div class="event-content">
      <h1 class="event-title">{{ event.title }}</h1>
      <p class="event-date">{{ event.date }}</p>
      <p class="event-time">{{ event.time }}</p>
      <p class="event-location">{{ event.location }}</p>
    </div>
  </div>
  <div class="button-container">
    <a [routerLink]="['/edit-event', event.id]" class="btn">
      Edit/Delete Event
    </a>
  </div>
</section>
<hr />
