<div class="all-contents">
    <div class="wrapper">
        <h2>Government Login</h2>
        <img src="gabaylogo.png" alt="Government Logo" class="logo"> 

        <input type="text" placeholder="First Name: " class="input-box" [(ngModel)]="firstName">
        <input type="text" placeholder="Last Name: " class="input-box" [(ngModel)]="lastName">
        <input type="email" placeholder="Email: " class="input-box" [(ngModel)]="email">
        <input type="text" placeholder="Username: " class="input-box" [(ngModel)]="username">
        <input type="password" placeholder="Password: " class="input-box" [(ngModel)]="password">

         <button class="gov-id">
             Attach a copy of your Government ID  <i class="fa-solid fa-file-arrow-up"></i>
        </button>

        <button routerLink="/login" routerLinkActive="active" class="login-button" (click)="registerUser()">Create Account</button>

    </div>
</div>
