<div class="all-contents">
  <div class="wrapper">
    <h2>Government Login</h2>
    <img src="gabaylogo.png" alt="Government Logo" class="logo" />

    <form (ngSubmit)="registerUser()">
      <input
        type="text"
        placeholder="First Name: "
        class="input-box"
        [(ngModel)]="firstName"
        name="firstName"
      />
      <input
        type="text"
        placeholder="Last Name: "
        class="input-box"
        [(ngModel)]="lastName"
        name="lastName"
      />
      <input
        type="email"
        placeholder="Email: "
        class="input-box"
        [(ngModel)]="email"
        name="email"
      />
      <input
        type="text"
        placeholder="Username: "
        class="input-box"
        [(ngModel)]="username"
        name="username"
      />
      <input
        type="password"
        placeholder="Password: "
        class="input-box"
        [(ngModel)]="password"
        name="password"
      />
      <input
        type="file"
        id="fileInput"
        accept="image/*"
        style="display: none"
        (change)="onFileSelected($event)"
      />
      <button type="button" class="gov-id" (click)="triggerFileInput()">
        {{
          governmentId
            ? "Change Government ID"
            : "Attach a copy of your Government ID"
        }}
        <i class="fa-solid fa-file-arrow-up"></i>
      </button>
      <div *ngIf="isUploading" class="upload-status">Uploading...</div>
      <div *ngIf="governmentId" class="upload-status">
        Government ID uploaded
      </div>
      <button type="submit" class="login-button">Create Account</button>
    </form>
  </div>
</div>
