.all-contents {
  background-color: #3563e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.wrapper h2 {
  margin-top: 5px;
  color: #1e1e1e;
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 15px;
}

.input-box {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 25px;
  border: 1px solid #3563e9;
  background-color: #3563e9;
  text-align: left;
  color: white;
}

.input-box::placeholder {
  color: white;
}

.login-button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #3563e9;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 20px;
}

.login-button:hover {
  background-color: #274bb3;
  transform: scale(1.05);
}

.create-password-account a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s ease;
  font-size: 12px;
}

.create-password-account a:hover {
  color: #3563e9;
}

.create-password-account a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #3563e9;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.create-password-account a:hover::after {
  transform: scaleX(1);
}

