<div class="all-contents">
  <div class="wrapper">
    <h2>Government Login</h2>
    <img src="gabaylogo.png" alt="Government Logo" class="logo" />

    <input type="text" placeholder="Username" class="input-box" />
    <input type="password" placeholder="Password" class="input-box" />

    <button routerLink="/events" routerLinkActive="active" class="login-button">
      Login
    </button>

    <div class="create-password-account">
      <a routerLink="/register-page" routerLinkActive="active"
        >Create Account</a
      >
      <a href="#">Forgot Password</a>
    </div>
  </div>
</div>
