<nav class="navbar">
  <div class="logo-new">
    <div class="logo">
      <img src="gabaylogo.png" alt="GabayGov Logo" />
      <span>GabayGov</span>
    </div>
    <h4>Admin Dashboard</h4>
  </div>
  <div class="nav-links">
    <a routerLink="/organizer/events">Events</a>
    <a routerLink="/organizer/events/new">Create Event</a>
  </div>
  <div class="menu-container">
    <div class="menu-icon" (click)="toggleDropdown()">&#9776;</div>
    <div class="dropdown-menu" *ngIf="isDropdownOpen">
      <!-- <a routerLink="/update-profile">
        <span class="fa fa-user"> User Profile</span>
      </a> -->
      <a (click)="logout()">
        <span class="fa fa-sign-out"> Logout</span>
      </a>
    </div>
  </div>
</nav>
