.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.logo-new {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  color: #3498db;
  margin: 0;
  margin-left: 2.8rem;
  padding: 0;
}

.logo img {
  height: 40px;
  margin-right: 5px;
}
.logo span {
  font-size: 18px;
  font-weight: bold;
  color: #3498db;
}
.nav-links {
  display: flex;
  gap: 40px;
  cursor: pointer;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.nav-links a:hover {
  text-decoration: underline;
}
.menu-container {
  position: relative;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: blue;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 150px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  z-index: 1000;
  cursor: pointer;
}

.dropdown-menu.open {
  display: flex;
}

.dropdown-menu a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.dropdown-menu a:hover {
  background: #f1f1f1;
}
