<app-organizer-navigation-header></app-organizer-navigation-header>
<div class="all-contents">
  <div class="profile-container">
    <div class="profile-sidebar">
      <div class="profile-pic">
        <i class="fa-solid fa-user fa-5x"></i>
      </div>
      <button>Change Photo</button>
    </div>
    <div class="profile-content">
      <h1>USER PROFILE</h1>
      <form>
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
        <input type="password" placeholder="Current Password" />
        <input type="password" placeholder="New Password" />
        <input type="password" placeholder="Re-type New Password" />
        <button type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
