<app-organizer-navigation-header></app-organizer-navigation-header>
<div class="wrapper">
  <div class="upload-container">
    <div class="upload-box">
      <img [src]="getEventImage()" alt="Event Image" 
      class="upload-image" />
      <input
        type="file"
        id="fileInput"
        accept="image/*"
        style="display: none"
        (change)="onFileSelected($event)"
      />
      <button type="button" class="upload-btn" (click)="triggerFileInput()">
        {{ eventModel.photo ? 'Change Photo' : 'Attach your Event Photo Here' }}
        <i class="fa fa-upload"></i>
      </button>
      <div *ngIf="isUploading" class="upload-status">Uploading...</div>
      <div *ngIf="eventModel.photo" class="upload-status">Photo uploaded</div>
    </div>
  </div>
</div>
<div class="input-wrapper">
  <div class="input-container">
    <input
      type="text"
      placeholder="Enter Title: Example - Libreng Gupit"
      class="enter-title"
      id="title"
      required
      [(ngModel)]="eventModel.title"
      name="title" 
    />
    <p><i class="fa fa-calendar"></i>Date and Time</p>
    <div class="date-time">
      <input
        type="text"
        placeholder="Input the Date Example - 2025-01-01"
        class="date-loc"
        id="date"
        required
        [(ngModel)]="eventModel.date"
        name="date" 
      />
      <input
        type="text"
        placeholder="Input the Time: Example - 14:00:00"
        class="date-loc"
        id="time"
        required
        [(ngModel)]="eventModel.time"
        name="time" 
      />
    </div>
    <p><i class="fa fa-location-arrow"></i>Location</p>
    <input
      type="text"
      placeholder="Input the Location: Example - Bugtong, Lipa, Courth"
      class="date-loc"
      id="location"
      required
      [(ngModel)]="eventModel.location"
      name="location" 
    />
    <p><i class="fa fa-check-circle"></i>About This Event</p>
    <input
      type="text"
      placeholder="Input what the Event is all about..."
      class="about-input"
      id="description"
      required
      [(ngModel)]="eventModel.description"
      name="description"
    />
  </div>
</div>
<div class="save-content">
  <div class="save-btn">
    <button type="button" (click)="saveEvent()">SAVE</button>
  </div>
</div>