<app-user-navigation-header></app-user-navigation-header>

<div class="hero-section">
  <img src="homelogo.png" alt="GabayGov Logo" class="hero-logo" />
  <h1>
    DISCOVER EVENTS WITH <br />
    GABAYGOV!
  </h1>
</div>

<div class="events-section">
  <h2 class="events-header">Latest Events</h2>
  <div *ngIf="loadingstate === STATE.ON_GOING">
    <app-page-loading-indicators></app-page-loading-indicators>
  </div>

  <div *ngIf="loadingstate === STATE.ERROR" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div class="events-container" *ngIf="loadingstate === STATE.SUCCESS">
    <div class="event-card" *ngFor="let event of events.slice(0, 3)">
      <img [src]="getEventImageSrc(event)" alt="Event Image" class="event-image" />
      <div class="event-details">
        <h3 class="event-title">{{ event.title }}</h3>
        <p class="event-date-time">{{ event.date }} | {{ event.time }}</p>
        <button
          [routerLink]="['/events', event.id]"
          routerLinkActive="active"
          class="event-button"
        >
          Event Details
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

